/* Entire Document */

html{
    max-width: 50%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    color:white;
    font-size: 16px;
}

/* Header */
.hfBackground {
    background: #247ba0;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
}

/* Main */
.container{
    display: block;
}


.myPicture {
    margin-right: 10px;
    margin-top: -100px;
    border-radius: 50px;
    float: right;
    box-shadow: 10px 10px 5px grey;
}


.headingWithUnderline {
    border-bottom: 1px solid black;
    margin-right: 10px;
}

li{
    color: black;
}

a:hover{
    background-color: #247ba0;
    color: white;
}

/* footer */
footer{
    padding-top: 50px;
}

footer a{
    color:white;
}

footer a:hover{
    background-color: white;
    color: #247ba0;
}

.lastModifiedDate {
    color: #FFE066;
}