html, body{
    max-height: 650px;
}

/* ================================ nav bar ===========================*/

nav{
    background: rgba(78, 229, 235, 0.329);
    height: 50px;
    border: 2px solid black;
}

nav a{
    text-align: center;
    padding-top: 12px;
}

nav a:first-child{
    border-right: 2px solid black;
}

nav a:last-child{
    border-left: 2px solid black;
}

nav a:hover{
    background-color: #089195;
    text-decoration: none;
    transform: translateY(-3px);
    color: white;
    transition: .5s;
    cursor: pointer;
}

/* ================================ header ===========================*/
header h1{
    text-align: center;
    padding-top: 50px;
}

/* ================================ body ===========================*/

.firstSection{
    padding-left: 15%;
    float: left;
}
div section{
    padding-top: 50px;
}

.projectPoints li{
    list-style-type: none;
    border: 1px solid black;
    width: fit-content;
    width: -webkit-fit-content;
    padding: 5px;
}
.projectPoints li:hover{
    background-color: #089195;
    text-decoration: none;
    transform: translateY(-3px);
    color: white;
    transition: .5s;
    cursor:pointer;
}
.projectPoints a{
    text-decoration: none;
    color: black;
}
