@media screen and (max-width: 1057px){
    /* navbar settings */
    
    .navbar ul{
        display: none;
    }

    .hamburger{
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .navigation.show{
        display: flex;
    }
}