/* these are the stylings for the note pages */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

pre{
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
pre { 
    white-space: pre-wrap; 
    overflow-x: auto;
    background-color: lightgrey;
}

body{
    font-family: 'open sans' sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}


h1{
    text-align: center;
}

ul{
    list-style-type: none;
    line-height: 2;
}

li{
    font-size: 18px;
}