@media only screen and (min-width: 37.5em){
    html{
        width: 75%;
    }
    
    table{
        width: 70%;
        border-collapse: collapse;
    }

    nav ul{
        display: flex;
    }

    nav ul li{
        flex: 1 1 100%;
    }
}