
html{
    margin: 0 auto;
    background-color: #03312e;
    color: #02c3bd;
}

header, nav, footer{
    background-color: #00b9ae;
    text-align: center;
    color: white;
    padding: 1px;
}

header{
    border: 2px solid red;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    align-content: space-between;
}

nav li{
    list-style: none;
    padding: 10px;
    margin-left: 25px;
}

nav li:hover{
    background-color: #037171;
    width: 20%;
}

nav a{
    color: white;
    text-decoration: none;
}