
html{
    margin: 0 auto;
    width: 75%;
    background-color: #03312e;
    color: white;
}

header, nav, footer{
    background-color: #00b9ae;
    text-align: center;
    color: white;
    padding: 1px;
}

header{
    border: 2px solid red;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-self: center; */
    /* align-content: space-between; */
}

nav li{
    list-style: none;
    padding: 10px;
}

nav li:hover{
    background-color: #037171;
    width: 20%;
}

nav a{
    color: white;
    text-decoration: none;
}

section{
    background-color: #037171;
    margin-top: 25px;
    border-radius: 3px;
}

h3{
    text-align: center;
}

section p{
    padding-left: 5%;
    padding-bottom: 3%;
}

section img{
    margin-left: 32%;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */