//colors

$lightBlue: #2ea7be;
$lightGreen: #82c6a3;
$background: #ece3dc;
$fontColor: #0d180d;
$veryDarkBlue: #0176b1;

//fonts
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Permanent Marker', cursive;

//image paths

$backgroundPhoto1: "imgs/backgroundPhoto.jpg";
$sunnyBeach: "imgs/beach_sunny.jpg";
$oceanSunset: "imgs/oceanSunset.jpg";
$palmTree: "imgs/palmTree.jpg";